form action="/newpost/new" method="post"
    input name="title" placeholder="title" type="text" id="title"
    input name="text" placeholder="text" type="text" id="text"
    input type="submit" value="Create"
    